body {
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(243, 255, 79);

  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/009/original/pexels-jess-vide-4321069.jpg?1738139888");
  background-size: cover;
}
h1 {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
  border: solid;
  border-style: outset;
  opacity: 0.8;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/004/original/pexels-souvenirpixels-1519088.jpg?1738136564");
  background-size: cover;
  font-size: larger;
}

h1 {
  font-size: 45px;
  color: antiquewhite;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
.city {
  padding: 10px 0;
  margin: 5px 0;
}
.time {
  margin-bottom: 5px;
}
footer {
  text-align: center;
  color: black;
}
