body {
  background: linear-gradient(to right, #a8caba 0%, #5d4157 100%);

  font-family: "Lobster", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
  border: solid;
  border-style: outset;
  /*background: #8ba528;*/
  background-image: linear-gradient(
    to left,
    #adff2f,
    #6f9425,
    #91c42d,
    #84ba12,
    #a8eb12
  );
}
h1 {
  font-size: 45px;
  color: antiquewhite;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
.city {
  padding: 20px 0;
}
footer {
  text-align: center;
}
